*,
*::after *::before {
  box-sizing: border-box;
}

.container {
  background-color: #333;
  height: 30vh;
  width: 1000px;

  /*define que una caja sera de flexbox de caja o flexbox de linea*/
  display: flex;
  /*define la direccion o el eje principal de un contender*/
  flex-direction: row;
  flex-wrap: nowrap;
  /*atajo de flex direction y flex wrap*/
  flex-flow: row nowrap;
  /*alineacion de los elemento hijas dentro de la caja padre dependiendo de la padre*/
  justify-content: flex-start;
  /*funciona para alinear los hijos dentro del eje transversal dentro de cada linea*/
  align-items: stretch;
  /*define la alineacion de los hijos en el eje tranversal (No funciona cuando los hijos estan en una sola line)*/
  align-content: flex-start;
}
.items {
  border: medium solid #999;
  /*height: 10%;*/
  background-color: #666;
  /*Cuando la caja flexblox tenga espacio sobrante, es la habilidad o el factor de crecer, el valor por
  defecto es 0, NO se aceptan valores negativos */
  flex-grow: 0;
  /*Cuando la caja flexbox NO tenga espacio sobrante, es la habilidad o el factor de encogerse valor
  por defecto es 1, NO se acepta valore negativos */
  flex-shrink: 1;
  /**/
  flex-basis: auto;
}
/*
.items:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 2;
}*/

/*.items:nth-child(3) {
  flex-grow: 0;
}*/

/*.items:nth-child(2),
.items:nth-child(17) {
  font-size: 220%;
}
*/
